In [ ]:
friends= ["Abbasi", "Bilal", "Arham"]
for friend in friends:
  print("Hi " + friend)

Hi Abbasi
Hi Bilal
Hi Arham

In [ ]:
for i in range(5):
  print(i)
  print(i+1)

0
1
1
2
2
3
3
4
4
5

In [ ]:
print(4+5)

9

In [ ]:
print(-1/4)

-0.25

In [ ]:

>>> import keyword
>>> print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
print(type("a"))

<class 'str'>

In [ ]:
print(type('a'))

<class 'str'>

In [ ]:

print(7+int("8"))

15

In [ ]:
print("A" + str(6))

A6

In [ ]:
def greeting(name, age):
  print("Welcome "+ name + "your age is "+ str(age))

greeting("Abbasi", 19)

Welcome Abbasiyour age is 19

In [ ]:
def area_tri(base, height):
  return (1/2)*(base*height)

In [ ]:
area_1 = area_tri(7 , 8)
print(area_1)

28.0

In [ ]:
def covert_seconds(seconds):
  hours=seconds//3600
  minutes=(seconds-(hours*3600))//60
  sec=(seconds-(hours*3600)-(minutes*60))
  return hours, minutes, sec

def lucky_num(name):
  number=len(name)*2
  print("Your name is "+ name +". Your lucky number is "+ str(number))

In [ ]:
print(covert_seconds(5000))
lucky_num("Abbasi")

(1, 23, 20)
Your name is Abbasi. Your lucky number is 12

In [ ]:

def month_days(month,days):
    print(month +" has " + str(days)+" days.")

month_days("june" , "30")
month_days("july" , "31")

june has 30 days.
july has 31 days.

In [ ]:
def convert_distance(miles):
	return miles * 1.6  # approximately 1.6 km in 1 mile

my_trip_miles = 55
# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(my_trip_miles)

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
round_trip_km = int(my_trip_km)*2
print("The round-trip in kilometers is " + str(round_trip_km))

The distance in kilometers is 88.0
The round-trip in kilometers is 176

In [ ]:
print("Yellow" > "Cyan" or "Brown" > "Yellow")

True

In [ ]:
print(not 42 == "Answer")

True

In [ ]:
def positive(number):
  if number<0:
    return False
  else:  
     return True

In [ ]:
print(positive(10))

True

In [ ]:
def is_even(num):
  if num % 2==0:
    return True
  elif num ==0:
    return True
  else:
    return False

In [ ]:
is_even(5)

False

In [ ]:
def calculate_storage(filesize):
    block_size = 4096
    # Use floor division to calculate how many blocks are fully occupied
    full_blocks = filesize//block_size
    # Use the modulo operator to check whether there's any remainder
    partial_block_remainder = filesize-(full_blocks*block_size)
    # Depending on whether there's a remainder or not, return
    # the total number of bytes required to allocate enough blocks
    # to store your data.
    if partial_block_remainder > 0:
        return (block_size*full_blocks) + block_size
    return block_size  * full_blocks
    

print(calculate_storage(1))    # Should be 4096
print(calculate_storage(4096)) # Should be 4096
print(calculate_storage(4097)) # Should be 8192
print(calculate_storage(6000)) # Should be 8192

4096
4096
8192
8192

In [ ]:
def sum(x, y):
		return(x+y)
print(sum(sum(1,2), sum(3,4)))

10

In [ ]:
((10 >= 5*2) and (10 <= 5*2))

True

In [ ]:
x=0
while x<5:
  print("Not there yet x=" + str(x))
  x=x+1
print("x= "+ str(x))

Not there yet x=0
Not there yet x=1
Not there yet x=2
Not there yet x=3
Not there yet x=4
x= 5

In [ ]:
def print_prime_factors(number):
  # Start with two, which is the first prime
  factor = 2
  # Keep going until the factor is larger than the number
  while factor <= number:
    # Check if factor is a divisor of number
    if number % factor == 0:
      # If it is, print it and divide the original number
      print(factor)
      number = number / factor
    else:
      # If it's not, increment the factor by one
      factor+=1
      
  return "Done"

print_prime_factors(100)
# Should print 2,2,5,5
# DO NOT DELETE THIS COMMENT

2
2
5
5

'Done'

In [ ]:
for x in range(3):
  print(x)

0
1
2

In [ ]:
for x in range(2,100,5):
  print(x, end=" ")
  if x==9:
    print(x+1)

2 7 12 17 22 27 32 37 42 47 52 57 62 67 72 77 82 87 92 97

In [ ]:
def decade_counter():
	while year < 50:
		year += 10
	return year

In [ ]:
for x in range(1, 10, 3):
    print(x)

1
4
7

In [ ]:
for x in range(10):
    for y in range(x):
        print(y)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8

In [ ]:
def votes(params):
	for vote in params:
	    print("Possible option:" + vote)


votes(['yes', 'no', 'maybe'])

Possible option:yes
Possible option:no
Possible option:maybe

In [ ]:

value=len("fire")
print(value)

4

In [ ]:
text="Random strings with alot of characters"
print(text[-1])
print(text[-2])

s
r

In [ ]:
def first_and_last(message):
  text=message
  if len(text)==0:
    return True
  if text[0]!=text[-1]:
    return False
  else:
      return True

print(first_and_last("else"))
print(first_and_last("tree"))
print(first_and_last(""))

True
False
True

In [ ]:
text="abdul Rehman Abbasi"
print(text[:3])
print(text[3:])

abd
ul Rehman Abbasi

In [ ]:
text.index("Reh")

6

In [ ]:
"Rehman" in text

True

In [ ]:
"Abba" in text

True

In [ ]:
def domain_changer(email, old_domain, new_domain):
    if "@" + old_domain in email:
      index= email.index("@")
      new_email= email[:index] + "@" + new_domain
      return new_email

email= domain_changer("abdurehman@hotmail.com","hotmail.com","live.com")
print(email)
email=email.upper()
print(email)

abdurehman@live.com
ABDUREHMAN@LIVE.COM

In [ ]:
a=5
b=10
a,b=b,a
print(a)
print(b)

10
5

In [ ]:
text="abdurehman"
text.strip()
text.endswith('man')

True

In [ ]:
text.count("a")

2

In [ ]:
Fores="Forest"
Fores.endswith("rest")

True

In [ ]:
"1234".isnumeric()

True

In [ ]:
"...".join(["Abdurehman","Abbasi"])

'Abdurehman...Abbasi'

In [ ]:
text="lets play basketball"
new=text.split()
print(new)

['lets', 'play', 'basketball']

In [ ]:
def initials(phrase):
    words = phrase.split()
    result = ""
    for word in words:
        result += word[0].upper()
    return result

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

USB
LAN
OS

In [ ]:
name ="Abbasi"
number=len(name)*3
print("Hello {name}, your lucky number is {number}".format(name=name,number=len(name)+3))
print("Hello {}, your unlucky number is {}".format(name,number))

Hello Abbasi, your lucky number is 9
Hello Abbasi, your unlucky number is 18

In [ ]:
price=7.5
with_tax=price*1.09
print("price is {:.2f}, with tax the price is {:.2f}".format(price,with_tax))

price is 7.50, with tax the price is 8.18

In [ ]:
def to_cel(temperature):
  return (temperature-32)*5/9

for x in range(0,101, 10):
  print("{:>3} F || {:>6.2f} C".format(x,to_cel(x)))
  series=["1","2","3","4"]

  0 F || -17.78 C
 10 F || -12.22 C
 20 F ||  -6.67 C
 30 F ||  -1.11 C
 40 F ||   4.44 C
 50 F ||  10.00 C
 60 F ||  15.56 C
 70 F ||  21.11 C
 80 F ||  26.67 C
 90 F ||  32.22 C
100 F ||  37.78 C

In [ ]:
def is_palindrome(input_string):
	# We'll create two strings, to compare them
	new_string = input_string
	reverse_string = ""
	# Traverse through each letter of the input string
	for letter in range(input_string,):

		# Add any non-blank letters to the 
		# end of one string, and to the front
		# of the other string. 
		if ___:
			new_string = ___
			reverse_string = ___
	# Compare the strings
	if ___:
		return True
	return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

In [ ]:
text="My full name is ABdul Rehhman Abbasi"
new=text.split()
print(new)
print(text.lower())

['My', 'full', 'name', 'is', 'ABdul', 'Rehhman', 'Abbasi']
my full name is abdul rehhman abbasi

In [ ]:
def is_palindrome(input_string):
    new_string = input_string.split()
    new_string = "".join(new_string).lower()
    reverse_string = new_string[::-1]    
    
    if new_string == reverse_string:
        return True
    else:
        return False


print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

In [ ]:
def replace_ending(sentence, old, new):
	# Check if the old string is at the end of the sentence 
	if sentence.endswith(old):
		# Using i as the slicing index, combine the part
		# of the sentence up to the matched string at the 
		# end with the new string
		i = sentence.split()
		k =i[-1].replace(old,new)
		new_sentence=sentence[0:-len(old)]+k
		return new_sentence

	# Return the original sentence if there is no match 
	return sentence
	
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

It's raining cats and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April

In [ ]:
x=["Now", "we" ,"are",1]
print(x[-1])
x.append("cooking")
print(x)

1
['Now', 'we', 'are', 1, 'cooking']

In [ ]:
x.insert(3,"not")
print(x)
x.remove("not")
print(x)

['Now', 'we', 'not', 'are', 1, 'cooking']

In [ ]:
x.pop(3)

'are'

In [ ]:
print(x)

['Now', 'we', 'not', 1, 'cooking']

In [ ]:
x[1]="you"
print(x)

['Now', 'you', 'not', 1, 'cooking']

In [ ]:
def email_formatting(people):
  results=[]
  for email, name in people:
    results.append("{} <{}>".format(name,email))

  return results


print(email_formatting([("abdurehman@live.com", "Abdul Rehman Abbasi"),
                        ("salman@live.com", "Salman Abbasi")]))

['Abdul Rehman Abbasi <abdurehman@live.com>', 'Salman Abbasi <salman@live.com>']

In [ ]:
multiples=[]
for x in range(1, 11):
  multiples.append(x*7)

print(multiples)

# or you can use the list compreshension function
multiples=[x*7 for x in range(1,11)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
family=["Aijaz", "Sobia","Salman", "AbdulRehman", "Labina"]
length=[]
length=[len(member) for member in family]
print(family)
print(length)

['Aijaz', 'Sobia', 'Salman', 'AbdulRehman', 'Labina']
[5, 5, 6, 11, 6]

In [ ]:
z=[x for x in range(1,101) if x%3==0]
print(z)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
text="abbasi"
word=""
new_uu=text.split()
old=new_uu.reverse
print(new_uu)

['abbasi']

In [ ]:
def pig_latin(text):
  say = ""
  # Separate the text into words
  words = text.split()
  for word in words:
    # Create the pig latin word and add it to the list
    ___
    # Turn the list back into a phrase
  return ___
		
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

In [ ]:
'''def pig_latin(text):
  say = text.split()
for word in enumerate(say):

  print(word)

pig_latin("hello how are you")'''

'def pig_latin(text):\n  say = text.split()\nfor word in enumerate(say):\n\n  print(word)\n\npig_latin("hello how are you")'

In [ ]:
  for meal in meals:
        if meals.index(meal)<len(meals)-1:
            if meal==meals[meals.index(meal)+1]:
                return True
    pass
    return False

[False, False, True, True]

In [ ]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == "hello"

hello
world

False

In [ ]:
username = input("Enter a username for your online banking account: ")

final_username = "".join(u for u in username if u not in ("?", ".", ";", ":", "!"))

print(final_username)

Enter a username for your online banking account: abbasi aidopf ::
abbasi aidopf

In [ ]:
def word_search(documents, keyword):
    # list to hold the indices of matching documents
    indices = [] 
    # Iterate through the indices (i) and elements (doc) of documents
    for i, doc in enumerate(documents):
        # Split the string doc into a list of words (according to whitespace)
        tokens = doc.split()
        # Make a transformed list where we 'normalize' each word to facilitate matching.
        # Periods and commas are removed from the end of each word, and it's set to all lowercase.
        normalized = [token.rstrip('.,').lower() for token in tokens]
        # Is there a match? If so, update the list of matching indices.
        if keyword.lower() in normalized:
            indices.append(i)
    return indices

doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
word_search(doc_list,"Casino")

[0]

In [ ]:
from math import *
print(pi, log(32, 2))

3.141592653589793 5.0